node_modules/
dist/
.artifacts/
.vercel/
.env.local
components/greeting/target/
components/greeting/inline/
components/greeting/transpiled/
components/greeting/*.wasm
components/greeting/.git/
/greeting/

.vercel
.env*.local

.idea/
.hutch/
build/
artifacts/
.env
.cottontail-tmp/
